body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.App {
  height: 100vh;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

header h1 {
  font-size: 2.5rem;
}

.reduced-margin {
  margin-top: 5px; /* Custom margin value */
  margin-bottom: 30px; /* Custom margin value */
}

/* Hide the title for mobile devices */
@media (max-width: 768px) {
}

header h2 {
  font-size: 1.5rem;
  color: #555;
}

header p {
  font-size: 1rem;
}

header a {
  color: #4da8da;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}


.portfolio-button {
  padding: 10px 30px; /* Adds padding inside the button */
  font-size: 16px; /* Sets font size for the button text */
  color: #fff; /* White text color */
  background-color: #4da8da; /* Light blue background */
  border: none; /* Removes border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  margin-right: 15px; /* Add spacing between buttons */
}

.portfolio-button2 {
  padding: 10px 30px; /* Adds padding inside the button */
  font-size: 16px; /* Sets font size for the button text */
  color: #fff; /* White text color */
  background-color: #ae5a5a; /* Red background */
  border: none; /* Removes border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
}

.portfolio-button:hover {
  background-color: #3979a3; /* Darker blue color on hover */
}

.portfolio-button2:hover {
  background-color: #c80b63; /* Darker red color on hover */
}


.profile-image {
  width: 300px; /* Set width for the image */
  height: 300px; /* Set height for the image */
  border-radius: 50%; /* Make the image circular */
  border: 3px solid #4da8da; /* Add a border with a theme color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  display: block; /* Ensures the image behaves like a block element */
  margin: 0 auto; /* Centers the image horizontally */
}