/* Resume.css */
.resume-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.resume-iframe {
  width: 80%;
  height: 100%;
  border: none;
  display: block;
  margin: auto;
}

/* For screens up to 430px wide (typical iPhone 14 width) */
@media (max-width: 430px) {
  .resume-iframe {
    width: 100%;
    height: 100%;
  }
}